
.example-component {
    /* border: solid 1px black; */
    position: absolute;
    top: 60px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 
  }
  .example-component.show {
    opacity: 1;
    visibility: visible; 
  }