.horizontalSlide-enter {
    transform: translate(100%);
}
.horizontalSlide-enter.horizontalSlide-enter-active {
    transform: translate(0%);
    transition: transform 600ms ease-in-out;
}
.horizontalSlide-leave {
    transform: translate(0%);
}
.horizontalSlide-leave.horizontalSlide-leave-active {
    transform: translate(-100%);
    transition: transform 600ms ease-in-out;
}
