.button {
    border: none;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  }
  
  .button:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
